################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Web/bin
/Web/obj/Debug
/.vs
/Data
/packages
